/* Contact Page Styles */
body{
    background-color: #ccc;
}
.contact-container {
    max-width: 600px;       /* Control the width */
    margin: 120px auto;      /* Center horizontally with spacing from top */
    background: #fff;
    padding: 40px 30px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  }
  
  
  .contact-container h1 {
    color: black;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .contact-container h3 {
    font-weight: 400;
    color: #666;
    margin-bottom: 30px;
  }
  
  .contact-form label {
    font-weight: 500;
    color: #333;
  }
  
  .contact-form input,
  .contact-form textarea {
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 12px 15px;
    font-size: 1rem;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #4f6fad;
    box-shadow: 0 0 5px rgba(79, 111, 173, 0.5);
  }
  
  .contact-form .btn-submit {
    color: #333;
  background:  #f7be27;
  border-color:  #f7be27;
  padding: 15px 38px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: var(--oswald-font);
  vertical-align: middle;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  }
  .contact-form .btn-submit:hover,
  .btn-submit:focus {
    color: #fff;
    background: transparent;
    border-color:#fff;
  }
  
  .contact-form.btn-submit {
    color:#fff;
    background:#e3000e;
    border-color: #e3000e;
  }
  .contact-form .btn-submit:hover,
  .btn-submit:focus {
    color:#e3000e;
    background: transparent;
    border-color: #e3000e;
  }
  
  .map-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .map-container {
    width: 90%;
    max-width: 900px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  @media (max-width: 576px) {
    .contact-container {
      padding: 20px 15px;
    }
    h2{
      font-size: 1rem;
    }
  }
  
  